<!doctype html>
	<html>
		<head>

			<title>Quiz testsajt på tjejerkodar</title>
			<meta charset = "utf-8">
			<link href="/static/style.css" rel="stylesheet">
		

		</head>
		<body>
			<h1>Vad vet du om Barcelona?</h1>

		<figure>
			<img src="/static/images/Museum_Catalanyan.gif" alt="Museo Nacional DArt de Catalunya" width="900"> 
			
		</figure>
	

{% for quiz in quizzes %}
		<p><a href="{% url 'quiz_page' quiz.quiz_number %}">
        {{ quiz.name }}
   		</a></p>
   		
{% endfor %}

		</p>
		</body>
	</html>